*{
    text-align: center;
    font-family:'Inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .container {
    height: 100vh;
  }
  
#paytable_box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 5px auto;
    width: auto;
    text-align: left;
}

.small_text {
    font-size: small;
}

#paytable_box > div{
    height: 70px;
    width: 70px;
    border-radius: 0px;
    border: 2px solid rgba(25, 25, 25, 0.051);
    background-color: #e1e0e0;
    color:rgb(19, 19, 19);
    margin: 2px 2px;
    position: relative;
    text-align: left;
}
#paytable_text {
    position: absolute;
    color: white;
    font-size: 9px;
    padding: auto;
    line-height: 12px;
    height: 13px;
    width: 13px;
    background-color: rgba(1, 1, 4, 0.4);
    font-weight: 800;
    top: 4%;
    left: 4%;
    transform: translate(-4%, -4%);
}
#snake_box{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    margin: auto auto;
    width: auto;
    height: 100%;
    position: relative;
    text-align: center;    
}

#snakebox_text {
    position: absolute;
    color: white;
    font-size: 10px;
    padding: 1px;
    width: 23px;
    height: 10px;
    background-color: rgba(4, 2, 1, 0.37);
    font-weight: 800;
    top: 12%;
    left: 1%;
    transform: translate(-1%, -12%);
}

#snake_box > div{
    height: 85px;
    width: 85px;
    position: relative;
    border: 2px solid rgba(25, 25, 25, 0.051);
    background-color: #e1e0e0;
    margin: 2px 2px;
    color:rgb(19, 19, 19);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pay_triple_melon {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_melon.png);
    background-size: contain;    
}
.pay_single_melon {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)),url(../symbol/melon.png);
    background-size: contain;
}

.pay_triple_bar {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_bar.png);
    background-size: contain;    
}
.pay_single_bar {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)),url(../symbol/bar.png);
    background-size: contain;    
}



.pay_triple_bell {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_bell.png);
    background-size: contain;    
}
.pay_single_bell {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)),url(../symbol/bell.png);
    background-size: contain;    
}
.pay_triple_grapes {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_grapes.png);

    background-size: contain;    
}
.pay_single_grapes {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)),url(../symbol/grapes.png);
    background-size: contain;    
}
.pay_triple_mango {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_mango.png);

    background-size: contain;    
}
.pay_single_mango {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)),url(../symbol/mango.png);
    background-size: contain;    
}
.pay_triple_orange {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_orange.png);
    background-size: contain;
}

.pay_single_orange {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)),url(../symbol/orange.png);
    background-size: contain;    
}

.pay_triple_lemon {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_lemon.png);
    background-size: contain;
}

.pay_single_lemon {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)), url(../symbol/lemon.png);
    background-size: contain;    
}

.pay_triple_cherry {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(42, 206, 20, 0.153)), url(../symbol/3x_cherry.png);
    background-size: contain;    
}

.pay_single_cherry {
    background-image: linear-gradient(rgba(255,255,255,0.151), rgba(255,255,255,0.15)), url(../symbol/cherry.png);
    background-size: contain;    
}

/* snake backgrounds*/

.snake_20{
    background-image: linear-gradient(rgba(255, 182, 182, 0.151), rgba(225, 42, 14, 0.153)), url(../snakes/snake_20.png);
    background-size: contain;
}
#box_33{
    background-image: linear-gradient(rgba(255, 182, 182, 0.151), rgba(225, 42, 14, 0.153)), url(../snakes/snake_33.png);
    background-size: contain;
}
#box_41{
    background-image: linear-gradient(rgba(255, 182, 182, 0.151), rgba(225, 42, 14, 0.153)), url(../snakes/snake_41.png);
    background-size: contain;
}
#box_44{
    background-image: linear-gradient(rgba(255, 182, 182, 0.151), rgba(225, 42, 14, 0.153)), url(../snakes/snake_44.png);
    background-size: contain;
}
#box_47{
    background-image: linear-gradient(rgba(255, 182, 182, 0.151), rgba(225, 42, 14, 0.153)), url(../snakes/snake_47.png);
    background-size: contain;
}


/*ladder backgrounds*/

#box_1{
    background-image: url(../ladders/ladder_1.png);
}
#box_3{
    background-image: url(../ladders/ladder_3.png);
}
#box_18{
    background-image: url(../ladders/ladder_18.png);
}
#box_24{
    background-image: url(../ladders/ladder_24.png);
}
#box_40{
    background-image: url(../ladders/ladder_40.png);
}
.alerts {
    background-color: yellow;
}

.side_box{
    width: 32%;
    padding: 5px;
}
#player_name{
    font-size: 15px;
    margin-top: 30px;
}
#next_player_text{
    font-size: 15px;
    margin-top: 30px;
}

#container_box{
    display: flex;
    flex-direction: row;
}

ul{
    margin: 0 5%;
}

li{
    font-size: 10px;
    padding: 10px;
    margin: 0 10%;
    text-align: justify;
}
.light_on {
    background-color: black !important;
}

.light_none {
    background-color: transparent;
}

#dice{
    width: 50px;
    height: 50px;
    padding: 2px;
    background-color: rgb(228, 238, 181) ;
    border-radius: 7px;
    margin: 10px auto;
}

#position_header {
    margin: 10px;
}

h5 {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#collect_button{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 15px;
}
#dice_button:disabled {
    opacity: 0.2;
    color: white;
}

#dice_button{
    background-color: #adfdb6; /* Green */
    border: none;
    letter-spacing: 1px 1px;
    color: black;
    padding: 14px 25px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    transition-duration: 0.2s ease;
    cursor: pointer;
  }
  
#dice_number{
    font-size: 25px;
}


@keyframes fast_blinker {
    50% {
      opacity: 0.45;
    }
  }
  

@keyframes blinker {
    50% {
      opacity: 0.2;
    }
  }
  

#light_active{
    background-color: rgba(255, 251, 0, 0.679);
    border: -2px solid rgb(255, 188, 4);
    height: 85px;
    display: flex;
    width: 100%;
    animation: blinker 1250ms linear infinite;
    font-size: small;
    font-weight: medium;
    text-align: center;
}

#light_active_paytable{
    background-color: rgba(255, 251, 0, 0.579);
    height: 70px;
    display: flex;
    width: 100%;
    animation: blinker 1150ms linear infinite;
    line-height: 28px;
    font-size: small;
    font-weight: medium;
    text-align: center;
    margin: 1px auto;
}

#player_coin1{
    background-color: rgba(0, 110, 255, 0.996);
    border: 0px solid rgb(0, 0, 0, 0.95);
    height: 85px;
    line-height: 80px;
    color: white;
    text-shadow: 1px 1px black;
    width: 100%;
    animation: fast_blinker 850ms linear infinite;
    border-radius: 10px;
    font-size: 40px;
    font-weight: medium;
    text-align: center;
}

#start_coin{
    background-color: rgb(0, 76, 255);
    width: 40px;
    height: 40px;
    padding: 5px;
    color: white;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    font-family: 'Sans', sans-serif;
}
